@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Syne:wght@700;800&display=swap');

@layer base {
  html {
    /* Define as cores e fontes globais para o seu tema */
    --color-primary: #ec917f;
    --color-secondary: #a5beb6;
    --color-text: #080e24;
  }
}